:root {
    --color_azul_principal: #00c8ff;
    --color_azul_secundario: #55dbff;
    --color_rojo_principal: #ff170d;
    --color_rojo_secundario: #ff645e;
    --color_negro: #000000;
    --color_negro_claro: #292929;
    --color_blanco: #eaeae8;

    --size_large: 30px;
    --size_medium: 25px;
    --size_short: 15px;
}
html{
    font-size: 10px;
}
body{
    background-color: var(--color_negro_claro);
}
header{
    width: 100%;
    display: flex;
    width: 30%;
}
.icon{
    height: 7rem;
}
.header__a{
    display: flex;
    text-decoration: none;
}
.header__div--title{
    text-align: left;
    line-height: 1.2rem;
}
.header__a--name{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.header__a--profession{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.headerNav{
    display: flex;
    margin: 1rem 2rem 1rem;
}
.nav{
    width: 70%;
    background-color: var(--color_negro_claro);
}
.nav__ul{
    display: flex;
    justify-content: space-around;
}

.nav__ul--li{
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s;
    justify-content: space-around;
}
.nav__ul--li:hover{
    box-shadow: 1rem 1rem var(--color_azul_principal);
    color: var(--color_negro);
    font-size: var(--size_medium);
    box-sizing: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.nav__li--a {
    font-size: 1.5rem;
    color: var(--color_blanco);
    text-decoration: none;
    text-align: center;

} 
.div__portada{
    width: 100%;
    height: 60rem;
    display: inline-block;
    background-size: cover;
    border-radius: 1rem;
    justify-content: center;
}
 .div__portada--imagen{
    width: 100%;
    height: 60rem;
    background-image: url(img/pexels-lukas-574073.jpg);
    background-size: cover;
    border-radius: 0%;
    background-color: var(--color_negro_claro);
    position: relative;
} 
#div__portada--titulos{
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 50rem;
  left: 30rem;
  display: block;
  background-color: var(--color_negro_claro);
  border-radius: 2rem;
  color: var(--color_blanco);
  opacity: 0.7;
}
h1.div__portada--text{
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--size_medium);
    margin: 2.5rem;
}
h2.div__portada text{
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--size_medium);
    margin: 2.5rem;
}
.section{
    position: relative;
    margin: auto;
    width: 97rem;
    height: 60rem;
    margin: 0rem 2rem 0rem 2rem;

}
.article{
    width: 100%;
    display: block;
}
.article__div--aboutMe{
    width: 100%;
}
.article__h{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--size_medium);
    padding-top: 3rem;
}
.article__p{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
}
.article__div--roles{
    background-color: var(--color_negro_claro);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
}
.roles{
    text-align: center;
    position: relative;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: var(--color_blanco);
    margin-bottom: 4rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
a:link{
    text-decoration: none;
}
.enlace__proyectos a{
    color: var(--color_blanco);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--size_medium);
    padding-top: 3rem;
}
.article__div--proyects{
    width: 97rem;
    text-align: center;
    margin: 1rem 10rem 4rem 0rem;
    background-color: var(--color_negro_claro);
    border-radius: 1rem;
}
.article__div--moduleProyectos{
    display: flex;
    justify-content: space-around;
    transition: all 0.5s;
}
.article__div--moduleProyectos:hover{
    height: 30rem;
    box-shadow: 0rem 1rem 1rem var(--color_azul_secundario);
    border-radius: 1rem;
    transition: all 0.5s;
}
.article__div--programs{
    background-color: grey;
    border-radius: 0.5rem;
    margin: 5rem 8rem 5rem 10rem;
    height: 20rem;
    width: 20rem;
    transition: all 1s;
}
.article__div--programs:hover{
    width: 21rem;
    height: 21rem;
    transition: all 1s;
    box-shadow: 1rem 1rem 1rem var(--color_azul_secundario);
    border-radius: 1rem;
}
.article__div--paragraph{
    text-align: justify;
    color: var(--color_blanco);
    margin: 5rem 10rem 2rem 10rem;
    padding-top: 4rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.section__div--form{
    height: 50rem;
    width: 50rem;
    margin: auto;
    padding: 3rem;
    background-color: var(--color_negro_claro);
    position: relative;
    border-radius: 1rem;
    display: block;
}
.section__h{
    color: var(--color_blanco);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 3rem;
    margin: 0.5rem 8rem 1rem 18rem;
    font-size: var(--size_medium);
}
.form_contact{
    margin: 7rem 8rem 1rem 14rem;
    position: relative;
}
.form__input{
    position: relative;
    display: flex;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: var(--size_short);
    border: 1px solid var(--color_azul_secundario);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}
.form__input:focus{
    box-shadow: 0.5rem 0.5rem 1rem var(--color_azul_secundario);
    border: 0.5rem var(--color_azul_secundario);
}
.button{
    border: radius 1rem;
    text-align: center;
}
.button:hover{
    background-color: var(--color_azul_secundario);
    width: 19rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.5s;
}
.footer{
    background-color: var(--color_negro_claro);
    margin-top: 5rem;
    padding: 5rem;
    position: relative;
    top: 180rem;
}
.redes_sociales{
    margin-left: 8rem;
}
div img{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}
.fotter__div--redes{
    display: flex;
    color: var(--color_blanco);
    padding-left: 2rem;
}